@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Raleway-Regular.ttf') format('ttf');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,U+2C60-2C7F, U+A720-A7FF;
}

body {
    font-family: "Raleway", sans-serif !important;
}

header {
    text-align: center;
    padding: 40px;
}

header .header-title-zone {
    background-color: #fff;
    border-radius: 500px;
    box-shadow: 0 0 80px 80px #fff;
}
header hr {
    border-color: gray;
}
footer {
    padding: 50px
}

.game-item {
    width: 70%;
    list-style-type: none;
    text-transform: uppercase;
    height:70px;
    overflow: hidden;
    margin: 7px 0;
    background-color: lightgray;
}
.game-item a {
    color: #000;
    height: 100%;
    display: block
}
.list-desc {
    margin: 40px 0;
}
.games-list {
    margin-left: -40px;
}
.game-list-img {
    width: 400px;
    position: relative;
    bottom: 40px;
}
.game-list-img-container {
    height:100%;
    float: right;
}
.game-label{
    position: relative;
    top: 24px;
    left: 25px;
}
.search-input {
    width: 690px;
}
.img-container {
    max-width: 700px;
}
.new-comment {
    margin-top: 30px;
}