@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Raleway-Regular.ttf') format('ttf');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,U+2C60-2C7F, U+A720-A7FF;
}

body {
    font-family: "Raleway", sans-serif !important;
}

header {
    text-align: center;
    padding: 40px;
}

header .header-title-zone {
    background-color: #fff;
    border-radius: 500px;
    box-shadow: 0 0 80px 80px #fff;
}
header hr {
    border-color: gray;
}
footer {
    padding: 50px;
    text-align: center;
}
.subpage-header {
    margin:40px 0;
}
.game-item {
    min-height: 65px !important;
    list-style-type: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 5px 15px;
    border:2px solid darkcyan;
    color: #000;
}
.game-item a {
    color: #000;
}
.list-desc {
    margin: 40px 0;
}
.game-label{
    margin-top: 10px;
    text-align: center;
}
.search-input {
    width: 690px;
}
.game-page-banner {
    height:300px;
    overflow: hidden;
    margin:50px 0;
}
.game-page-banner img {
    margin:0 auto;
}
.img-container {
    padding: 30px 0;
}
.new-comment {
    margin-top: 30px;
}
.footer-icon {
    margin:0 15px;
    font-size: 40px !important;
    color: #000;
}
.footer-icon:hover {
    color: #337ab7;
}